<h1>Articles</h1>
<article class = "post">

  <section class ="post-head">
    <% @articles.each do |article| %>
      <section class = "article-data">
        <h2><%= article.title %></h2>
        <small>
          <time><%= article.created_at.to_date.strftime("%d %B, %Y")%></time>
          |
          <%= link_to 'Show', article_path(article) %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure to delete this article?' } %>
        </small>
      </section>
    <% end %>
  </section>

</article>


<%= link_to 'New article', new_article_path %>
