<article class="post">
  <section class ="post-head">
      <h2><%= @article.title %></h2>
      <small>
        <time><%= @article.created_at.to_date.strftime("%d %B, %Y")%></time>
        |
        <%= link_to 'Edit', edit_article_path(@article) %>
        <%= link_to 'Destroy', article_path(@article),
      method: :delete,
      data: { confirm: 'Are you sure to delete this article?' } %>
      </small>
  </section>
    <section class ="post-body">
      <%= @article.text %>
    </section>
  <section class = "article-comments">
    <section class = "post-comments">
      <%= render @article.comments %>
    </section>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </section>
</article>
